<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: header(${'Create Post'})"/>
<body>
<div th:replace="fragments :: navbar"></div>

<div class="container">
    <h1 class="text-center">Create a new Post</h1>
    <form action="/posts/create" method="POST" th:object="${post}" id="createPost">
        <div class="form-group">
            <label for="titleInput">Title: </label>
            <input class="form-control" th:field="*{title}" id="titleInput"/>
        </div>
        <div class="form-group">
            <label for="bodyInput">Description: </label>
            <input class="form-control" th:field="*{body}" id="bodyInput"/>
        </div>
        <input type="submit" class="btn btn-block btn-primary"/>
    </form>
</div>

<th:block th:replace="fragments :: scripts"/>
</body>
</html>