<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"><head th:replace="fragments :: header(${'Single Post'})"/>
<body>
<div th:replace="fragments :: navbar"></div>
<!--<div sec:authorize="isAuthenticated()">-->
    <!--This content is only shown to authenticated users.-->

    <!--User ID: <span th:text="${#authentication.principal.id}"/>-->
    <!--Username: <span th:text="${#authentication.principal.username}"/>-->
    <!--Email: <span th:text="${#authentication.principal.email}"/>-->
<!--</div>-->
<div class="container">
    <h1 class="text-center">Edit a Post</h1>
    <form th:action="@{/posts/{id}/edit(id=${post.id})}" method="POST" th:object="${post}" id="editPost">
        <div class="form-group">
            <label for="titleEdit">Title: </label>
            <input class="form-control" th:field="*{title}" id="titleEdit"/>
        </div>
        <div class="form-group">
            <label for="bodyEdit">Description: </label>
            <input class="form-control" th:field="*{body}" id="bodyEdit"/>
        </div>
        <input type="submit" class="btn btn-primary"/>
    </form>
</div>

<th:block th:replace="fragments :: scripts"/>
</body>
</html>